<!-- Section: about -->
<section id="about" class="home-section">
  <div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row">
    <div class="column gridimg">
      <img src="../assets/img/gallery/IMG-20191105-WA0032.jpg">
      <img src="../assets/img/gallery/2.jpg">
      <img src="../assets/img/gallery/bday1.jpg">
      <img src="../assets/img/gallery/4.jpg">
      <img src="../assets/img/gallery/IMG_9081.jpg">
    </div>
    <div class="column">
      <img src="../assets/img/gallery/5.jpg">
      <img src="../assets/img/gallery/IMG_8861.jpg">
      <img src="../assets/img/gallery/3.jpg">
      <img src="../assets/img/gallery/IMG_9015.jpg">
    </div>
    <div class="column">
      <img src="../assets/img/gallery/COVER_TOP.jpg">
      <img src="../assets/img/gallery/IMG_8890.jpg">
      <img src="../assets/img/gallery/IMG_8810.jpg">
      <img src="../assets/img/gallery/1.jpg">
    </div>
    <div class="column">
      <img src="../assets/img/gallery/IMG_8862.jpg">
      <img src="../assets/img/gallery/IMG-20181117-WA0074.jpg">
      <img src="../assets/img/gallery/IMG_9048.jpg">
      <img src="../assets/img/gallery/6.jpg">
    </div>
  </div>
  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
</section>
<!-- /Section: about -->
